<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capstone Project API</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
    <nav>
        <h1>The Chosen Hero</h1>
    </nav>
    <div class="container">
        <div class="choice-container">
            <form id="myForm" method="post">
                <input type="submit" value="Get Classes" formaction="/get-classes">
            </form>
            <form id="myClasses" method="post" action="/chosen-class">
                <ul>
                    <% if (locals.classes) { %>
                        <% for(var i=0; i< classes.length; i++) {%>
                            <li><button name="class" value=<%=classes[i].index %>>
                                    <%= classes[i].index %>
                                </button>
                            </li>
                            <% } %>
                                <% } else{%>
                </ul>
                <% } %>
            </form>
            <% if(locals.chosenClass) {%>
                <form id="getSkill" method="post">
                    <input class="skills-button" type="submit" value="Choose Skills" formaction="/get-skills">
                </form>
                <form id="myClasses" method="post">
                </form>
                <% } %>
        </div>
        <% if(locals.chosenClass) {%>
            <p class="class-hero">
                <%= chosenClass %> 🦸‍♂️
            </p>
            <% if(locals.chosenSkills) {%>
                <p style="font-weight: bold;">Skills</p>
                <ul>
                    <% for(var iii=0; iii< chosenSkills.length;iii++) {%>
                        <li>
                            <%= chosenSkills[iii] %>
                        </li>
                        <% } %>
                </ul>
                <% }%>
                    <% } else{%>
                        <p>No class yet</p>
                        <% } %>
                            <div class="table-skills">
                                <form id="myClasses" method="post" action="/chosen-skills">
                                    <% if (locals.listSkills) { %>
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for(var ii=0; ii < listSkills.length; ii++) {%>
                                                    <tr>
                                                        <td>

                                                            <button class="buttonSkills" name="skill"
                                                                value=<%=listSkills[ii].name %>>
                                                                <%= listSkills[ii].name %>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                            </tbody>

                                        </table>
                                        <% } else{%>
                                            <% } %>
                                </form>
                            </div>

    </div>

</body>

</html>